.pagination{
  &_operate{
    display: flex;
    justify-content: center;
    align-items: flex-end;

    >span{
      margin: 0 4px;
      cursor: pointer;
    }

    .active{
      color: red;
      font-size: 26px;
    }

  }
}