.app-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  span {
    margin-right: 10px;
  }
}
