.homePage {
  flex: 1;
  //height: 1000px;
  //display: flex;
  //flex-direction: column;
  //background: #000;
  overflow-y: auto;
  //background: #000;

  .sideBar {
    width: 200px;
    height: 100%;
    //background: red;
  }
  .item{
    height: 200px;
    width: 100%;
    //border:1px solid #000;
  }
  .content{
    flex: 1;
    overflow: auto;
    //background: red;



    .box{
    }
      //.item{
      //  height: 200px;
      //  width: 100%;
      //  border:1px solid #000;
      //}
  }
}
