.work5 {
  display: flex;
  flex: 1;
  overflow-y: auto;

  .sideBar {
    width: 250px;
    height: 100%;
    background: #1C9CBD;
  }

  .listBox {
    flex: 1;
    overflow-y: auto;

    .dataList_item {
      display: flex;
      justify-content: flex-start;
      height: 100px;
      width: 100%;
      line-height: 100px;
      border-bottom: 1px solid #000;

      .dataList_item_title {
        width: 200px;
      }

      .dataList_item_content {
        flex: 1;
        text-align: left;
      }
    }
  }
}
