.app {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100%;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

// .app-footer {
//   background: red;
//   min-height: 150px;
// }
