.carousel {
  height: 400px;
  width: 600px;
  border: 1px solid #000;
  position: relative;
  overflow: hidden;

  .slider{
    height: 100%;
    display: flex;
    transition: 1s;
    .sliderItem{
      height: 100%;
      min-width: 600px;
    }
  }

  .carouselBtn {
    font-size: 32px;
    position: absolute;
    top: calc(50% - 16px);
    cursor: pointer;
  }

  .btnRight {
    right: 10px;
  }

  .btnLeft {
    left: 10px;
    transform: rotate(180deg);
  }
}


.dotSection {
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 10px;
  position: absolute;

  .dot {
    width: 10px;
    height: 10px;
    background: #fff;
    opacity: .3;
    border-radius: 25px;
    margin: 0 5px;
  }

  .dot--active{
    opacity: 1;
  }
}