.luckyWheel {
  background: #000;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    position: relative;

    .startPic {
      position: absolute;
      left: 150px;
      bottom: 150px;
      width: 200px;
      height: 200px;
      cursor: pointer;
    }
    .wheelPic {
      width: 500px;
      height: 500px;

    }
    .isRotate{
      //transition: 2s;  // 加入 transition 具備動畫
      //transform: rotate(360deg);

      animation: isRotate 1s linear infinite;
    }

    @keyframes  isRotate{
      100%{
        transform: rotate(720deg);
      }
    }


  }
}
